@import url('base.css');

.mainBemVindo {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: calc(100vh - 150px); /* Ajuste se quiser descontar o tamanho do header/footer */
}

.bemVindo{
    text-align: center;
}
.bemVindo h1 {
    font-size: 4rem;
    color: #3c2f2f;
}