@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Domine:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.nav-custom {
    background-color: #3B5448;
    padding: 15px 30px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-custom .empresa {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #D8E6D8;
    display: block;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.nav-custom .aurora {
    font-size: 12px;
    color: #b7b7b7;
    display: block;
    margin-top: -5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


.nav-custom .nav-link {
    font-weight: 700;
    color: #d1d1d1 !important;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.nav-custom .nav-link:hover {
    color: #a0522d !important;
}

.navbar-toggler i {
  color: #D8E6D8; 
}

.nav-item{
    font-size: 18px;
}

.logoNav {
    width: 100px;
    height: auto;
}

.btn-marrom {
    background-color: #6f4e37; 
    color: #fff;              
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-marrom:hover {
    background-color: #5a3f2e; 
    color: #fff;
}

/*Conteúdo*/
h3 {
    font-weight: 600;
    color: #3c2f2f;
}

footer {
    background-color: #3B5448;
    color: #d8d6d6;
    text-align: center;
    padding: 20px 40px;
    margin-top: 40px;
    border-top: 2px solid #e0d5c6;
    width: 100%;
}

footer a {
    color: #3c2f2f;
    margin: 0 8px;
    font-size: 1.2rem;
}

footer a:hover {
    color: #a0522d;
}

footer .r-linha-item img {
    width: 150px;
    height: auto;
}

footer .r-linha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .rede-social i {
    font-size: 35px;
    color: #e7e7e7;
}

.politicas a {
    display: block;
    margin: 5px 0;
    color: #d8d6d6;
    text-decoration: none;
}

.cadUsuario {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 30px;
}

.dadosUsuario {
    flex: 1;
}

.dadosUsuario .usuario{
    margin: 20px auto 0;
}

.fotoCadUsuario {
    flex: 1;
    align-items: center;
}

.foto-usuario-cadastro {
    display: block;
    margin: 10px auto 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.usuarioAtleta{
    margin: 16px auto 0;
}

@media (min-width: 550px) {
    footer .r-linha {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}