@import url('base.css');

.foto-instituicao-cadastro {
  display: block;
  margin: 10px auto 0;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.dadosAcademia {
  flex: 1;
}

.dadosAcademia .academia {
  margin: 20px auto 0;
}

.foto-academia-cadastro {
  display: block;
  margin: 10px auto 0;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .row.mb-3,
  .row.gap-4{
    flex-direction: column !important;
  }

  .dadosInstituicao,
  .logo,
  .dadosAcademia {
    width: 100% !important;
    max-width: 100%;
  }

  .foto-instituicao-cadastro,
  .foto-academia-cadastro {
    width: 220px;
    height: 220px;
  }
}