@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Domine:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

:root {
    --font-primaria: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --cor-fundo: #0A0A0A;
    --cor-card: #1A1A1A;
    --cor-primaria: #8B0A11;
    --cor-primaria-hover: #C1121F;
    --cor-texto: #FFFFFF;
    --cor-texto-secundario: #D0D0D0;
    --cor-img-escura: brightness(0.55);
    --cor-borda-titulo: var(--cor-primaria);
    --body: #DADADA;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primaria);
    background-color: #DADADA;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav-custom {
    background-color: var(--cor-primaria);
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #b7b7b7;
    margin-top: -5px;
}

.nav-custom .nav-link {
    font-weight: 700;
    color: #b7b7b7 !important;
    margin: 0 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.nav-custom .nav-link:hover {
    color: #a0522d !important;
}

.navbar-toggler i {
    color: #b7b7b7;
}

.nav-item {
    font-size: 18px;
}

.logoNav {
    width: 100px;
    height: auto;
}

.navbarNav {
    margin-left: auto !important;
}

footer {
    background-color: var(--cor-primaria);
    color: #d8d6d6;
    text-align: center;
    padding: 20px 40px;
    border-top: 2px solid #e0d5c6;
    width: 100%;
    margin-top: 40px;
}

footer a {
    color: #3c2f2f;
    margin: 0 8px;
    font-size: 1.2rem;
}

footer a:hover {
    color: #a0522d;
}

footer .r-linha-item img {
    width: 150px;
    height: auto;
}

footer .r-linha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .rede-social i {
    font-size: 35px;
    color: #e7e7e7;
}

.politicas a {
    display: block;
    margin: 5px 0;
    color: #d8d6d6;
    text-decoration: none;
}

.tituloh1 {
    margin-top: 10px;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--cor-primaria, #8B0A11);
}

.btn-vermelho {
  background: var(--cor-primaria, #8B0A11);
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  transition: .2s ease;
  border: none;
}

.btn-vermelho:hover {
  background: var(--cor-primaria-hover, #C1121F);
}

@media (min-width: 1400px) {
    footer .r-linha {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}