@import url('base.css');

.mainBemVindo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.bemVindo {
  text-align: center;
}

.bemVindo h1 {
  font-size: 4rem;
  color: #3c2f2f;
}